body {
  background-color: rgb(56, 194, 194);
}

.container {
  grid: 0;
  background-color: rgb(129, 78, 78);
  border: dotted, 5px, whitesmoke;
  height: 800px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
}

.block {
  border: double, 5px, black;
  background-color: azure;
  width: 150px;
  height: 150px;
}

.block1 {
  flex-shrink: 0;
  flex-grow: 1;
}

.block3 {
  flex-shrink: 2;
  flex-grow: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

header{
min-height: 100px;
background-color: aliceblue;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
}

.menushka{
display: flex;
flex-direction: row;
list-style: none;
gap: 25px;
}

.menushka a{
    color: rgb(31, 97, 97);
}

.menushka li{
    flex-shrink: 0;
}

footer{
    min-height: 60px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content{

}

aside{
background-color: aquamarine;
width: 270px;
}